@function type-of($value)
    @return type-of($value) 
    
@mixin center-box($width, $margin_vertical)
    width: $width
    margin: $margin_vertical (100 - $width) / 2

@mixin list-reset
  padding: 0
  margin: 0
  li
    padding: 0
    margin: 0
    list-style: none

@mixin box-shadow($color, $radius, $spread) 
    -webkit-box-shadow: 0px 0px $radius $spread $color
    -moz-box-shadow: 0px 0px $radius $spread $color
    box-shadow: 0px 0px $radius $spread $color

@mixin background-image($url, $size, $position, $repeat, $color) 
    background: $url
    -webkit-background: $url
    -moz-background: $url
    -o-background: $url

    background-size: $size
    -webkit-background-size: $size
    -moz-background-size: $size
    -o-background-size: $size

    background-position: $position
    -webkit-background-position: $position
    -moz-background-position: $position
    -o-background-position: $position

    background-repeat: $repeat
    -webkit-background-repeat: $repeat
    -moz-background-repeat: $repeat
    -o-background-repeat: $repeat

    background-color: $color

@mixin bg-gradient($start-color, $end-color, $orientation) 
    background: $start-color
    @if $orientation == 'vertical' 
        background: -webkit-linear-gradient(top, $start-color, $end-color)
        background: linear-gradient(to bottom, $start-color, $end-color)
    @else if $orientation == 'horizontal' 
        background: -webkit-linear-gradient(left, $start-color, $end-color)
        background: linear-gradient(to right, $start-color, $end-color)
    @else if type-of($orientation) == 'number'
        background: -webkit-linear-gradient($orientation, $start-color, $end-color)
        background: linear-gradient($orientation, $start-color, $end-color)
    @else
        background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color)
        background: radial-gradient(ellipse at center, $start-color, $end-color)

@mixin hover-transition($sec) 
    -webkit-transition: all $sec ease-in-out
    -moz-transition: all $sec ease-in-out
    -ms-transition: all $sec ease-in-out
    -o-transition: all $sec ease-in-out
    transition: all $sec ease-in-out

@mixin border-radius($size) 
    border-radius: $size
    -moz-border-radius: $size
    -webkit-border-radius: $size

@mixin clearfix
    &:after
        content: ' '
        display: table
        clear: both

@mixin placeholder($color, $size:"")
    &::-webkit-input-placeholder
        color: $color
        @if $size != ""
            font-size: $size

    &:-moz-placeholder
        color: $color
        @if $size != ""
            font-size: $size

    &::-moz-placeholder
        color: $color
        @if $size != ""
            font-size: $size

    &:-ms-input-placeholder
        color: $color
        @if $size != ""
            font-size: $size

@mixin button-default($color, $bg-color, $radius, $thickness, $border-color, $vertical-padding, $horizontal-padding)
    color: $color
    background-color: $bg-color
    @include border-radius($radius)
    border: $thickness solid
    @if $border-color != ""
        border-color: $color
    @else
        $border-color: $border-color
    @if $horizontal-padding != ""
        padding: $vertical-padding
    @else 
        padding: $vertical-padding $horizontal-padding
    &:hover
        color: $bg-color
        background-color: $color
        border-color: $bg-color
